#Central{
    float: left;
    background-color: rgb(199, 42, 42); 
    border-radius: 0.5cm;
    width: 20cm;
    height: 20cm;
    align-content: center;
    margin-left: 2cm;
    text-align: center;
}
#Letra{
    margin-bottom: 2cm;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2cm;
}
#email{
    font-size: large;
    size: 2cm;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dotted;
}
