#cima{
    background-color: brown;
    height: 5cm;
    margin: 0%;
}
#botão1{
    font-size: 1.5cm;
    margin: 1cm;
    border-radius: 0.5cm;
    background-color: chocolate;
    border-color: chocolate;
}
#botão2{
    font-size: 1.5cm;
    margin: 1cm;
    border-radius: 0.5cm;
    background-color: chocolate;
    border-color: chocolate;
}
#botão3{
    font-size: 1.5cm;
    margin: 1cm;
    border-radius: 0.5cm;
    background-color: chocolate;
    border-color: chocolate;
}

#pesquisa{
    font-size: xx-large;
    border-radius: 1.5cm;
    border-color: aliceblue;
    float: right;
}
#opções{
    float: right;
}
#coisas{
    background-color: aliceblue;
    text-align: center;
}
