#Login{
    float: left;
    background-color: blueviolet; 
    border-radius: 0.5cm;
    width: 10cm;
    height: 10cm;
    align-content: center;
}
#Senha{
    width: 20%;
    height: 100px;
    backgound-color: aquamarine;
    float: center;
    marrgin: 20 px;
}


