#Login{
    
    float: left;
    background-color: blueviolet; 
    border-radius: 0.5cm;
    width: 10cm;
    height: 10cm;
    align-content: center;
    margin-left: 2cm;
}
.Email{
   text-align: center;
}
.Senha{
    text-align: center;
    margin-top: 1cm;
}
.Butão{
    text-align: center;
}





